<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://crmdataverseconect20230724110034.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2973a999-ce0f-4714-881c-de17b0cc8fa2/resourcegroups/cloud-shell-storage-centralindia/providers/Microsoft.Web/sites/CrmDataverseConect20230724110034</ResourceId>
    <UserName>$CrmDataverseConect20230724110034</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://crmdataverseconect20230724110034.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>